<!DOCTYPE html>
<html lang="ja-jp" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Foo Client Index</title>
  </head>

  <body>
    <h1>Foo Client Index</h1>

    <h2>Authentication</h2>
    <p>[[ ${#authentication} ]]</p>

    <h2>Authorization</h2>
    <form th:action="@{/read}" method="get">
      <button type="submit">FOO_READ</button>
    </form>
    <span th:if="${foo_read}">You clicked FOO_READ successfully!</span>
    <form th:action="@{/write}" method="post">
      <button type="submit">FOO_WRITE</button>
    </form>
    <span th:if="${foo_write}">You clicked FOO_WRITE successfully!</span>

    <h2>Logout</h2>
    <form th:action="@{/logout}" method="post">
      <button type="submit">LOGOUT</button>
    </form>
  </body>
</html>
